@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    background-image: url('https://images.unsplash.com/photo-1521133573892-e44906baee46?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    font-family: 'Space Mono', monospace;
}

button {
    height: 20%;
    border-radius: 20px;
    font-size: 1.2em;
    font-family: 'Space Mono', monospace;
}

input {
    margin: 5%;
    min-height: 75px;
    box-shadow: inset 0px 1px 4px 0px #cd5bcd;
    background-color: #dde7eb;
    text-align: right;
    font-size: 2.5em;
    padding: 0 10px;
    color: #490649;
    
}
.calc {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20% auto;
    padding: 10px;
    border: 1px solid;
    min-height: 350px;
    border-radius: 20px;
    box-shadow: 10px 9px 8px 0px #9f83a5;
    background-color: #5b6c92;
}

.buttons {
    display: flex;
    min-height: 300px;
    margin: 1% 5% 3%;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.numbers button {
    flex-basis: 30%;
    background-color: #d7c8d7;
}

.op-div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 48%;
    justify-content: space-around;
}

.op-div button {
    height: 20.5%;
    background-color: #bdc7de;
}

#equals {
    flex-basis: 72%;
    margin: 4%;
    background-color: #aad4e4;
}

#clear {
    background-color: #ff7abd;
}

#backspace {
    margin: 4%;
}